DB_SERVICE_NAME=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD="superscuresecretpassword"
POSTGRES_DB=movie_platform_db
JWT_SECRET="SUPER_SECRET_STRONG_HARD_UNGUESSABLE_KEY_THAT_IS_AT_LEAST_256_BITS_LONG"
JWT_ISSUER="MoviePlatform.Api"
JWT_AUDIENCE="MoviePlatform.App"
JWT_EXPIRY_MINUTE=15
